DB_HOST=localhost
DB_NAME=tipimemy_iptv_panel
DB_USER=root
DB_PASS=
PANEL_NAME="Tipistream Panel"
PANEL_URL=https://ott.tipime.my.id
TOKEN_EXPIRE_HOURS=6
SESSION_EXPIRE=3600
FREE_PLAYLIST_URL=https://iptv.tipime.my.id/data/playlists/free.m3u
SECRET_KEY=GANTI_DENGAN_RANDOM_STRING_PANJANG_32CHAR
TIMEZONE=Asia/Jakarta
PROXY_EXPIRE_SECONDS=7200
RATE_LIMIT_REQUESTS=300
RATE_LIMIT_WINDOW=60
